:root {
  font-family: 'Darker Grotesque', sans-serif;
}

.header {
  background: #85CDF5;
}

.wolf{
  background: #cccccc url("/assets/img/big_wolf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 1600px;
}

.about {
  background: #2C5680;
}

.values {
  background: #333333;
}

.example {
  background: white;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Cabeçalho de Navegação */
.header {
  display:flex;
  height: 10em;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;  
  top: 0;
  position: sticky; 
}

.header-content {
  display:flex;
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  line-height: 2em;
  margin: 0.3em auto;
  flex-direction: row;
}

/* Tarefa 25 desafio 3 */
.header-content:last-child {
  flex-direction:row-reverse;
}

.line {
  width: 3em;
  height: 1.5em;
  border-bottom: 5px solid white;
}

/* Tarefa 25 */
.header-content div {
  padding-top: 0.5em;
  position:absolute;
  border-color: black;
  transition: width 500ms;
}

/* Tarefa 25 */
.header-content div:hover {
  width: 7em;
}

/* Rodapé */
.footer {
  background: #333333;
}

.footer-container {
  display:flex;
  flex-direction: row;
  justify-content:center;
  padding-top: 5%;
}

#footer-contact {
  display: flex;
  flex-flow:column;
  margin:5%;
}

.footer-container p, i{
  padding: 0.1em;
  text-align: left;
  font-weight:400;
  font-size: 1.1em;
  color:white;
}

.footer-content button{
  width:10em;
  height:2.5em;
  background: #DEB959;
  transition: color 600ms;
  transition: background 800ms;
}

/* Tarefa 13 */
.footer-content button:hover{
  cursor: pointer;
  background: black;
  color: #DEB959;
}