/* Lobo Principal */
main .wolf {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.wolf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 10rem 5rem 10rem;
}

.wolf-title h1{
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  color: white;
  padding-top: 5rem;
}

#wolf-line:hover {
  transition: width 500ms;
  width: 30rem;
}

.wolf-text p{
  display:flex;
  margin: 0em 5em 2.5em 5em;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: white;
  padding-bottom: 5rem;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 10rem 5rem 10rem;
}

/* Sobre */
.about-title, .values-title, .example-title {
  text-align: center;
  color: #DEB959;
  font-weight:700;
  font-size: 3em;
  padding-bottom: 2rem;
}

.about-text {
  text-align: center;
  font-weight:400;
  font-size: 1.5em;
  color: white;
}

/* Valores */
.values-type-container {
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding: 0rem 10rem 5rem 10rem;
}

.values-title {
  padding: 8rem 10rem 3rem 10rem;
}

.values-type{
  display:flex;
  flex-flow: column;
  align-items:center;
  padding: 0rem 1rem 1rem 1rem;
}

.values-type img{
  border-radius: 50%;
  background:white;
}

.values-type h3{
  text-align: center;
  font-weight:700;
  font-size: 2em;
  color: white;
}

.values-type p{
  text-align: center;
  font-weight:400;
  font-size: 1.5em;
  color: white;
}

/* Exemplo de Lobos */
.example-wolves-container {
  max-width:400px;
  width: 100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  padding:2%;
}

.wolf-image img{
  width:200px;
}

.wolf-description {
  display: flex;
  flex-direction:column;
}

/* .wolf-description h3{
  text-align: left;
  font-weight:700;
  font-size: 2.25em;
} */

/* .wolf-description:nth-child(2){
  text-align: left;
  font-weight:400;
  font-size: small;
} */

/* .wolf-description:nth-child(3){
  text-align: left;
  font-weight:400;
  font-size: 1.5em;
} */





/* Lista de Lobinhos */


/* Adicionar Lobinho */

.add-wolf-content{
  margin: 10%;
  display:flex;
  justify-content:center;
  flex-flow:column;
  border: 4px solid;
}

.add-wolf-content h1{
  text-align: center;
  font-weight:600;
  font-size: 3.75em;
}

.add-wolf-content form{
  margin: 10%;
  display:flex;
  justify-content:center;
  flex-flow:column;
}

.add-wolf-content form label{
  text-align: left;
  font-weight:500;
  font-size: 2em;
}

.add-wolf-content form input{
  height: 1.5em;
  font-weight:400;
  font-size: 2em;
  background: #E6E6E6;
  border: 1px solid;
}
.add-wolf-content form textarea{
  font-weight:400;
  font-size: 1.5em;
  background: #E6E6E6;
  border: 1px solid;
}

.add-wolf-content form button{
  margin:10px auto;
  font-weight: 400;
  font-size: 1.5em;
  color:white;
  background: #2C5680;
  height:64px;
  width:140px;
}

/* Show Lobinho */

/* Adotar Lobinho */
.header-adopt-wolf {
  display:flex;
  justify-content:center;
}

#wolf-header-adoption {
  font-size:4em;
  font-weight:600;
}

#wolf-image-adoption {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.content-adopt-wolf {
  max-width:500px;
  margin: 0 auto;
}

.content-adopt-wolf form{
  display:flex;
  flex-direction: column;
}

/* Quem Somos */
.about-us-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:5%;
}

.about-us-container h1{
  text-align: center;
  font-weight:400;
  font-size: 3em;
  line-height:3.5em;
}

.about-us-container p{
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  font-weight:400;
  font-size: 1.5em;
  line-height: 2em;
}

